
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>GSM Library</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%
    if (islogin != 'login') {
      %>
      <script>
      alert('로그인 후 이용하실 수 있습니다.');
      location.href="/";
      </script>
      <%
    }
    %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <img  class="my-0 mr-md-auto" src="GSM_.png" alt="지온다락" style="height: 40px;">
<nav class="my-2 my-md-0 mr-md-3">
  <a class="p-2 text-dark" href="/">MAIN</a>
  <% if(grade != 'admin') { %>
    <a class="p-2 text-dark" href="daechul">대출</a>
      <a class="p-2 text-dark" href="bannap">반납</a>
      <% } %>
  <a class="p-2 text-dark" href="myPage">마이페이지</a>
  <% if(grade == 'admin') { %>
    <a class="p-2 text-dark" href="/admin">관리!</a>
    <% } %>
</nav>
<% if(islogin == 'logout') { %>
  <a class="btn btn-outline-primary" href="/signIn">Sign In</a>
  <% } %>
  <% if(islogin == 'login') { %>
    <a class="btn btn-outline-primary" href="/logOut">Log Out</a>
  <% } %>
</div>

<main role="main" class="container">

  <div class="starter-template">
    <br><br><br><h2><%= name %>`s Page</h2><br><hr>
    <br><br>
    <div class="media">
  <img src="/profile.jpg" class="mr-3" alt="회원(학생)">
  <div class="media-body">
    <h5 class="mt-0"><b>이름:</b> <%= name  %></h5>
    <ul>
      <li>광주소프트웨어마이스터고 - <b><%= parseInt(num/1000) %>학년 <%= parseInt(num/100%10) %>반 <%= parseInt(num%100) %>번</b></li>
      <li>대출 가능 여부 : <b><%=isok  %></b><br></li>
  </ul>
  </div>
</div><br><br><br>
<% if(grade === 'user') { %>
  <h2>현재 대출중인 도서 목록</h2>
  <ul class="list-group">
  <% for(var i = 0; i < bookli.length; i++) { %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= bookli[i].bookcode %>
    <span class="badge badge-primary badge-pill">
      <script>
          var date = new Date();
          var tdate = new Date(String(date.getFullYear()) + '/' + String(date.getMonth() + 1) + '/' + String(date.getDay()))
          var afadsf = new Date("<%= bookli[i].landdate %>")
          var diff = tdate.getTime() - afadsf.getTime();
          var ldate = diff/(1000*60*60*24);
          if(ldate > 14){
            document.write("반납 기한 지남")
          } else{
            document.write(ldate);
          }
        </script>
    </span>
  </li>
  <% } %>
  </ul>
<% } %>


</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
